<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.infotasks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoTasks">
        <activity
            android:name=".ListaUsuarios"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ListaClientesTarea"
            android:exported="false" />
        <activity
            android:name=".CrearUsuario"
            android:exported="false" />
        <activity
            android:name=".ClienteActivity"
            android:exported="false" />
        <activity
            android:name=".ListaClientes"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CrearCliente"
            android:exported="false" />
        <activity
            android:name=".CrearTarea"
            android:exported="false"
            android:noHistory="false">
        </activity>
        <activity
            android:name=".TareaActivity"
            android:exported="false" />
        <activity
            android:name=".ListaTareas"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Administrador"
            android:exported="false" />
        <activity
            android:name=".Acceso"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>